* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

h1 {
color: #C9A66B;
font-size: 48px;
}

header {
    width: 100%;
    background-color: #4B2E2E;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

a{
    color: #F5F0E1;
}

.wrapper{
    width: 100%;
}

.header_wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.header_logo{
    flex: 0.4;
}

.header_menu{
    flex: 0.4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main{
    display:flex;
    flex-direction: column;
    margin-top: 55px;
}

#hero{
    width: 100%;
    height: 92.5vh;
    position: relative;
    overflow: hidden; 
}

#hero::before {
    content: "";
    position: absolute;
    inset: 0; 
    background: url(https://image.fonwall.ru/o/ai/chashka-zyorna-kofe.jpg?auto=compress&fit=crop&w=1366&h=768&domain=img1.fonwall.ru) no-repeat center/cover;
    filter: blur(5px) brightness(0.6); 
    z-index: -1; 
    inset: -10px;
}

#hero_content{
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    font-family: "Poppins", sans-serif;
}

#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 10px;
}

#about_title{
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    margin-top: 20px;
}

#about_content{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    gap: 20px;
}

#interior{
    width: 70%;
    height: auto;
}

#about_img{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about_text{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding-right: 50px;
}

.about_p{
    text-indent: 30px;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
}